.logo{
    position: fixed;
    background-color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 1500;
    font-size: larger;
    background-image: linear-gradient(to right,rgb(110, 17, 17) , rgb(34, 21, 21));
    border-radius: 10px;
}
.loginScreen {
    background-color: black;
    position: relative;
    height: 100%;   
    background-size: cover;
}
.loginScreen_button {
    position: fixed;
    right: 0px;
    float: right;
    top: 0px;
    height: fit-content;
    width: 100px;
    margin: 14px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    cursor: pointer;
}
.loginScreen_gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background-color:rgb(0, 0, 0);
}
.loginScreen_body {
    position: absolute;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;

    padding: 20px;
    left: 0;
    background-color: black;
    right: 0;
}
.loginScreen_body > h1 {
    font-size: 3.125rem;
    margin-bottom: 20px;
}
.loginScreen_body > h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.loginScreen_body > h3 {
    font-size: 1.3rem;
    font-weight: 400;
}
.loginScreen_input {
    margin: 20px;
}
.loginScreen_input > form > input {
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}
.loginScreen_getStarted {
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #ff000d;
    border: none;
    font-weight: 600;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.Email{
    background-color:rgb(15, 15, 15);
    font-weight: 800;
    font-size: 1rem;
    text-shadow: black;
    border-radius: 10px;
}
.xyz{
    background-color: black;
    color:whitesmoke;
}
.loginScreen_logo {
    color: burlywood;
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
}
