.navbar {
	position: fixed;
	width: calc(100% - 52px);
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 32px;
	z-index: 1;
	transition-timing-function: ease-in;
    transition: all 0.3s ease;
	height: 40px;
	background-color: black;
}
.nav_black{
	background-color: black;
}
.navbar__poster img {
	width: 190px;
	height: 74px;
	object-fit: contain;
}

.navbar__profile {
	display: flex;
	align-items: center;
}

.navbar__profile img {
	padding: 0px 12px;
	cursor: pointer;
}

.navbar_profile img.profile__icon {
	width: 40px;
}
.profile__icon {
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 7px;
	background: red;
	color: white;
}

.navbar_poster img.profile_search {
	width: 24px;
}
.logo{
    position: fixed;
	color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 3500;
    font-size: larger;
    background-image: linear-gradient(to right,red , rgb(0, 0, 0));
    border-radius: 10px;
	top: 0;
	left: 0;
	margin-left:15px ;
	margin-top: 14px;
}