.row h2 {
	margin-left: 20px;
	color: white;
	margin-top: 5px;
}
.row{
	background-color: black;
}
.row__movies {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
    scrollbar-width: none; 
}

.row__movies::-webkit-scrollbar {
	display: none;
}
