.search_results .infinite-scroll-component {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 16px 4px;
}

.search_results .movie {
	margin: 18px 0px;
	padding: 0;
}

.search_results .movie:hover {
	transform: scale(1.05);
}

.search_results .tv {
	margin: 18px 0px;
	padding: 0;
}

.search_results .tv:hover {
	transform: scale(1.05);
}
